.bg {
    /* background-image: url(../../assets/images/Screen_Background/Level-3-screen-background.webp); */
    background-color: black;
    /* background-repeat: no-repeat; */
    background-size: 100% 100%;
    min-height: 70vh !important;
}

.is {
    color: rgb(216, 139, 67);
    font-size: 110px;
}

.slidbtn {
    margin-top: 15%;
}

.imgmid {
    margin-left: 40px;
}

.optios {
    background-size: 300px 60px;
    background-repeat: no-repeat;
    align-items: center;
    font-size: 35px;
    display: inline;
}

.optios:hover {
    transform: translateY(-5px);
}

.spell {
    margin-left: 60px;
    font-size: 30px;
    font-family: "roboto";
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.back {
    position: absolute;
    bottom: 1%;
    left: 1.5%;
}

.loader {
    margin-top: 15.8%;
    margin-bottom: 16%;
}

.smily {
    padding-top: 5%;
    padding-left: 30%;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.mcq {}