<div class="bg"><br>

    <audio autoplay loop>
        <source src="../../assets/sound/Sound effect/dashboard_sound.ogg" type="audio/ogg">
    </audio>


    <div class="cattxt">
        <img src="../../assets/images/Screen_Background/categories.webp" class="" alt="">
    </div>


    <div class="d-flex justify-content-center loader" *ngIf="dataLoad === true">
        <div class="spinner-border" role="status">
        </div>
        <b> &nbsp; &nbsp; Loding data...</b>
    </div>


    <div class="scrollmenu " id="scrollmenua">

        <a (click)="goCate(c.id)" *ngFor="let c of categorys">
            <img src="https://kidsdictionary.arjunbala.com/{{c.img}}" class="cate" alt="">
        </a>

    </div>


    <!-- For Offline Work -->


    <!-- <div class="scrollmenu " id="scrollmenua">
        <a (click)="goCate(1)">
            <img src="../../assets/images/Category/Alphabets.webp" class="cate" alt="">
        </a>
        <a (click)="goCate(2)">
            <img src="../../assets/images/Category/Birds.webp" class="cate" alt="">
        </a>
        <a (click)="goCate(3)">
            <img src="../../assets/images/Category/BodyParts.webp" class="cate" alt="">
        </a>
        <a (click)="goCate(4)">
            <img src="../../assets/images/Category/Colors.webp" class="cate" alt="">
        </a>
        <a (click)="goCate(5)">
            <img src="../../assets/images/Category/Days.webp" class="cate" alt="">
        </a>
        <a (click)="goCate(6)">
            <img src="../../assets/images/Category/DomesticAnimals.webp" class="cate" alt="">
        </a>
        <a (click)="goCate(7)">
            <img src="../../assets/images/Category/Flowers.webp" class="cate" alt="">
        </a>
        <a (click)="goCate(8)">
            <img src="../../assets/images/Category/WildAnimals.webp" class="cate" alt="">
        </a>
    </div> -->



    <!-- ---------------------- -->


    <div class="back" (click)="goBack()">
        <img src="../../assets/images/Levels_and_Other_Buttons/Back button.webp" height="60px" alt="" srcset="">
    </div>

    <br>

</div>