.bg {
    background-image: url(../../assets/images/Screen_Background/Categories-Screen-background.webp);
    background-repeat: no-repeat;
    background-size: 100% 80vh;
    margin-left: 16%;
    margin-right: 16%;
}

* {
    text-transform: uppercase;
}

div.scrollmenu {
    -ms-overflow-style: none;
    margin: -18% 14% auto 14%;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu::-webkit-scrollbar {
    display: none;
}

div.scrollmenu {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

div.scrollmenu a {
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.ra {
    margin-top: -3%;
    margin-bottom: 2.5%;
}

.is {
    color: rgb(216, 139, 67);
    font-size: 1000%;
}

.il {
    float: left;
    margin-left: 2%;
    margin-right: -10%;
}

.ir {
    float: right;
    margin-right: 2%;
}

.cate {
    width: 21%;
}

@keyframes run {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(8deg);
    }
    100% {
        transform: rotate(-8deg);
    }
}

.cate:hover {
    animation-name: run;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.back {
    margin: 2.8% 0px 0px .8%;
}

.cattxt {
    width: 60%;
    margin: 2% auto auto 20%;
}

.ldr {
    margin-top: 7%;
    margin-bottom: 7%;
}

/* ------loader----------- */

.load {
    margin-top: 17.5%;
    margin-bottom: 24%;
}