.bg {
    background-image: url(../../assets/images/Screen_Background/Categories-Screen-background.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 70vh !important;
}

div.scrollmenu {
    -ms-overflow-style: none;
    /* margin: -18% 14% auto 14%; */
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu::-webkit-scrollbar {
    display: none;
}

div.scrollmenu {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

div.scrollmenu a {
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.cate {
    width: 20%;
}

@keyframes run {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(8deg);
    }

    100% {
        transform: rotate(-8deg);
    }
}

.cate:hover {
    animation-name: run;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.is {
    color: rgb(216, 139, 67);
    font-size: 10vw;
}

.jscon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cattext {
    padding-top: 3%;
    margin: auto auto 3% auto;
}

.catlist {
    margin: 9% auto 6% auto;
}

.back {
    position: absolute;
    bottom: 1%;
    left: 1.5%;
}