* {
    text-transform: uppercase;
}

.bg {
    background-image: url(../../assets/images/Screen_Background/Level-1-screen-background.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 15.5%;
    margin-right: 15.5%;
}

.spell {
    background-size: 75% 100%;
    background-repeat: no-repeat;
    align-items: center;
    margin: auto auto auto auto;
    font-size: 37px;
    display: inline;
}

.txt {
    font-size: larger;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

div#centerDiv {
    width: 100%;
    text-align: center;
    margin-left: -2%;
}

ul#main li {
    display: inline;
}

.is {
    color: rgb(216, 139, 67);
    font-size: 150px;
}

.il {
    float: left;
    margin-top: 8%;
    margin-left: 2%;
    margin-right: -10%;
}

.ir {
    float: right;
    margin-top: -21%;
    margin-right: 2%;
}

.imgs {
    height: 250px;
    margin-top: 3.3%;
    width: auto;
    float: inline-end;
}

.back {
    margin: 8px auto auto .8%;
}

@keyframes runer {
    0% {
        opacity: 1;
    }
    25% {
        opacity: .5
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

.anima {
    animation-name: runer;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.loader {
    margin-top: 18%;
    margin-bottom: 18%;
}