.bg {
    background-image: url(../../assets/images/Screen_Background/Level-1-screen-background.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 70vh !important;
}

.jscon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spell {
    background-size: 47px 52px;
    background-repeat: no-repeat;
    align-items: center;
    margin: auto auto auto auto;
    font-size: 42px;
    padding-left: 2px;
    display: inline;
}

.txt {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-family: monospace;
    margin-right: 20px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

ul#main li {
    display: inline;
}

#main {
    margin-left: -4%;
}

.is {
    color: rgb(216, 139, 67);
    font-size: 10vw;
}

.icondis {
    color: rgba(218, 139, 67, .6);
    font-size: 10vw;
}

.imgs {
    width: 40vh;
}

@keyframes runer {
    0% {
        opacity: 1;
    }

    25% {
        opacity: .5
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

.anima {
    animation-name: runer;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.back {
    position: absolute;
    bottom: 1%;
    left: 2%;
}

.sound {
    position: absolute;
    bottom: 1%;
    right: 2%;
}

.middiv {
    margin-top: 8%;
}

.loder {
    margin-left: 47%;
    margin-top: 10%;
}