<div class="bg">

    <br>
    <div id="centerDiv">
        <ul id="main">
            <li>
                <div class="spell" style="background-image: url({{temp1}});">A</div>
            </li>
            <li>
                <div class="spell" style="background-image: url({{temp2}});">P</div>
            </li>
            <li>
                <div class="spell" style="background-image: url({{temp3}});">P</div>
            </li>
            <li>
                <div class="spell" style="background-image: url({{temp4}});">L</div>
            </li>
            <li>
                <div class="spell" style="background-image: url({{temp5}});">E</div>
            </li>
        </ul>
    </div>



    <div>
        <img src="../../assets/images/Alphabets/A.webp" class="rounded mx-auto d-block imgs" alt="">
    </div>


    <div class="back" (click)="goBack()">
        <img src="../../assets/images/Levels_and_Other_Buttons/Back button.webp" height="60px" alt="" srcset="">
    </div>
    <br>

</div>