<div class="bg">
    \
    <div id="centerDiv">
        <ul id="main">
            <li *ngFor="let t of data; let idx = index">
                <div class="spell" id="{{ 'wave' + t.latter + (idx+1) }}" style="background-image: url({{t.url}});">
                    <span class="txt">{{t.latter}}&nbsp;</span>
                </div>

            </li>
        </ul>
    </div>



    <div>

        <div class="il" *ngIf="index === 0; else elsePrev">
        </div>
        <ng-template #elsePrev>
            <div class="il" (click)="changeSlid(-1)"><i class="fas fa-chevron-left is"></i>
            </div>
        </ng-template>

        <div class="" *ngIf="dataLoad === false">
            <img src="{{imgurl}}" class="img img-fluid rounded mx-auto d-block imgs" alt="">
        </div>

        <div class="d-flex justify-content-center loader" *ngIf="dataLoad === true">
            <div class="spinner-border" role="status">
            </div>
            <b> &nbsp; &nbsp; Loding data...</b>
        </div>


        <div class="ir" *ngIf="index === (demo.length - 1); else elseNext">
        </div>
        <ng-template #elseNext>
            <div class="ir" (click)="changeSlid(1)"><i class="fas fa-chevron-right is"></i>
            </div>
        </ng-template>

    </div>




    <div class="back" (click)="goBack()">
        <img src="../../assets/images/Levels_and_Other_Buttons/Back button.webp" height="60px" alt="" srcset="">
    </div>


</div>