.bg {
    background-image: url(../../assets/images/Screen_Background/Level-1-screen-background.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 90%;
}

.spell {
    background-size: 46px;
    background-repeat: no-repeat;
    font-size: 35px;
    padding-left: 12px;
    padding-right: 20px;
    display: inline;
    text-align: center;
}

div#centerDiv {
    width: 100%;
    text-align: center;
}

ul#main li {
    display: inline;
}

.imgs {
    height: 325px;
    margin-top: 50px;
}

.back {
    margin: 0px auto auto .8%;
}