<div>
    <div>
        <img src="../../assets/images/Screen_Background/Developer_Button_min.webp" class="devloperImg" height="120px">
    </div>

    <div class="levels">

        <img src="../../assets/images/Levels_and_Other_Buttons/Engine.webp" class="anima" height="200px" alt="">
        <a (click)="goto(1)">
            <img src="../../assets/images/Levels_and_Other_Buttons/Level-1.webp" class="anima" height="200px" alt="">
        </a>
        <a (click)="goto(2)">
            <img src="../../assets/images/Levels_and_Other_Buttons/Level-2.webp" class="anima" height="200px" alt="">
        </a>
        <a (click)="goto(3)">
            <img src="../../assets/images/Levels_and_Other_Buttons/Level-3.webp" class="anima" height="200px" alt="">
        </a>
        <a (click)="goto(4)">
            <img src="../../assets/images/Levels_and_Other_Buttons/Level-4.webp" class="anima" height="200px" alt="">
        </a>

    </div>

    <br>
    <audio autoplay loop>
        <source src="../../assets/sound/Sound effect/dashboard_sound.ogg" type="audio/ogg">
    </audio>
</div>