.bg {
    background-image: url(../../assets/images/Screen_Background/Level_screen_backgroung_min.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 16%;
    margin-right: 16%;
}

.w3-sidebar a {
    font-family: "Roboto", sans-serif
}

body, h1, h2, h3, h4, h5, h6, .w3-wide {
    font-family: "Montserrat", sans-serif;
}

.devloperImg {
    margin: 9% auto auto 8.5%;
}

.levels {
    margin: 7% auto auto 3%;
}

.anima {
    animation-name: train;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    /* animation-direction: alternate-reverse; */
}

.blbg {
    background-color: black;
}

@keyframes train {
    from {
        /* margin-left: 0px;  */
        padding-top: 0px;
        padding-bottom: 8px;
    }
    to {
        /* margin-left: 5px;  */
        padding-top: 8px;
        padding-bottom: 0px;
    }
}