.bg {
    background-image: url(../../assets/images/Screen_Background/Level_screen_backgroung_min.webp);
    background-repeat: no-repeat;
    background-size: 110% 100%;
    margin-left: 10%;
    margin-right: 10%;
}

.devloperImg {
    margin: 9% auto auto 10.5%;
}

.levels {
    margin: 7% auto auto 3%;
}

.anima {
    animation-name: train;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    /* animation-direction: alternate-reverse; */
}

@keyframes train {
    from {
        /* margin-left: 0px;  */
        padding-top: 0px;
        padding-bottom: 8px;
    }
    to {
        /* margin-left: 5px;  */
        padding-top: 8px;
        padding-bottom: 0px;
    }
}